@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 75px;
  background-color: #f8cad4;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.logo img {
  height: 55px;
  object-fit: contain;
}


.navigate {
  display: flex;
  align-items: center;
  gap: 35px;
}

.links {
  display: flex;
  list-style: none;
  gap: 36px;
}

.links a {
  text-decoration: none;
  font-weight: 500;
  color: #860f37;
  transition: 0.3s ease;
  padding-bottom: 4px;
  transition: .2s all;
}

.links a:hover {
  text-shadow: 0 2px 4px rgba(134, 15, 55, 0.5);
}

.active {
  text-shadow: 0 2px 4px rgba(134, 15, 55, 0.5);
  border-bottom: 2px solid rgba(134, 15, 55, 0.5);
}

.authBtn {
  display: inline-block;
  padding: 10px 22px;
  border-radius: 14px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #92133d;
  background: linear-gradient(135deg,
      rgba(243, 214, 228, 0.6),
      rgba(231, 195, 211, 0.4));
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow:
    0 6px 20px rgba(0, 0, 0, 0.08),
    inset 0 1px 1px rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease;
  cursor: pointer;
}

.authBtn:hover {
  transform: translateY(-2px);
}

.hamburger {
  display: none;
  cursor: pointer;
  color: #3a345b;
}

/* OVERLAY */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(58, 52, 91, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 999;
}

.showOverlay {
  opacity: 1;
  visibility: visible;
}

/* ================= SIDE MENU ================= */

.sideMenu {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100vh;
  background: #fcd9e1;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: 0.3s ease;
  z-index: 1000;
  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.08);
  font-family: 'Poppins', sans-serif;
}

.showMenu {
  right: 0;
}

.sideMenu a {
  color: #3a345b;
  font-weight: 500;
  transition: 0.3s ease;
}

.sideMenu a:hover {
  color: #d183a9;
}

.closeIcon {
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 20px;
  color: #3a345b;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 992px) {
  .links {
    display: none;
  }

  .navigate .authBtn {
    display: none;
  }

  .hamburger {
    display: block;
  }
}